.segmented-navigation {
  position: relative;
  top: 0 px;
  background-color: #f2f2f2;
  padding: 8px;
  z-index: 998;
}
.segmented-item {
  display: inline-block;
  padding: 8px 16px;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 4px;
  cursor: pointer;
}

.segmented-item.active {
  background-color: var(--green);
  color: #fff;
}
@media (max-width: 1351px) {
  .segmented-navigation {
    top: 50px;
  }
}
