@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Montserrat&family=PT+Sans&family=Poppins:wght@100;200;300;400;500;600&family=Roboto:ital@1&display=swap');

:root{
    --green:#00a896;
    --black:#444;
    --light-color:#777;
    --box-shadow:.5rem .5rem 0 rgba(22,160,133,.2);
    --text-shadow:.4rem .4rem 0 rgba(0,0,0,.2);
    --border:.2rem solid var(--green);
}
*{
    font-family: 'Poppins',sans-serif;
    margin:0; padding:0;
    box-sizing:border-box;
    outline:none;border:none;
    text-transform:capitalize;
    transition:all .2s ease-out;
    text-decoration: none;
}

html{
    font-size:62.5%;
    overflow-x: hidden;
    scroll-padding-top:7rem;
    scroll-behavior: smooth;
}

/* section  */
section{
    padding:2rem 9%;
}
section:nth-child(even){
    background: #f5f5f5;
}
/* .services{
    background:  #f5f5f5;
}
.review{
    background: #F3FFFD;
} */
.services .btn{
    display: inline-block;
    margin-top:1rem;
    padding: .5rem;
    padding-left: 1rem;
    border: var(--border);
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor:pointer;
    font-size: 1.7rem;
    border-radius: 15px;
}
.services .btn span{
    padding:.7rem 1rem;
    background: var(--green);
    color: #fff;
    margin-left: .5rem;
    border-radius: 40%;
}
.services .btn:hover{
    background: var(--green);
    color: #fff;
}
.services .btn:hover span{
    border-radius: 100%;
    background: #fff;
    color: var(--green);
    border-radius: 50%;
}



/* home section  */

/* icons  */
.icons-container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    padding-top:5rem;
    padding-bottom:5rem;
}

.icons-container .icons{
   border:var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   text-align: center;
   padding: 2.5rem;
}
.icons-container .icons i{
    font-size: 4.5rem;
    color: var(--green);
    padding-bottom: .7rem;
}
.icons-container .icons h3{
    font-size: 4.5rem;
    color: var(--black);
    padding-bottom: .5rem 0;
    text-shadow: var(--text-shadow);
}
.icons-container .icons p{
    font-size: 1.7rem;
    color: var(--light-color);
     
}
.services .box h1{
    font-size: 200px;
}
.services .box-container{
    max-width: 1200px;
    /* margin: 30px; */
    margin-bottom: 100px;
    padding: 0 20px;
    width: 100%; 
    display: grid;
    justify-content: right;
    /* Define Auto Row size */
    grid-auto-rows: max-content; 
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-gap: 1.26rem;
}

.services .box-container .box{
    border-radius: 10px;
    /* border: 3px solid rgb(7, 190, 184); */
    padding: 20px;
    color: #000000;
    height: 32rem;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    margin: auto;
    box-shadow: var(--text-shadow);
}

.services .box-container .box img
{
    width: 7rem;
    height: 7rem;
    /* aspect-ratio: 6/4; */
    object-fit: contain;
}
/* headings */
.heading{
    text-align: center;
    padding-bottom:2rem;
   text-shadow: var(--text-shadow);
   text-transform: uppercase;
   color: var(--green);
   font-size: 3.6rem;
   letter-spacing: .4rem;
}
.heading span{
    text-transform: uppercase;
    color: var(--black);
    padding: 5px 15px;
    clip-path: polygon(100% 0% ,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
    background-color: #63d5be;
    text-shadow:none;
}

/* headings */

.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}
.services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem 0;
}
.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 2;
}

.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem;
}

.about .row .image{
    flex:1 1 45rem;
}
.about .row .image img{
   width: 100%;
}
.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color: var(--black);
    text-shadow:var(--text-shadow);
    font-size: 4rem;
    line-height: 1.8;
}
.about .row .content p{
    color: var(--light-color);
   padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    gap:3rem;
    /* height: 600px; */
}
.review .box-container .box{
    /* border:var(--border); */
    box-shadow:var(--text-shadow) ;
    border-radius:.5rem;
    padding:2.5rem;
    background:#f3fffd;
    text-align:center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}
.review .box-container .box img{
    height: 10rem;
    width:10rem;
    border-radius: 50%;
    object-fit:cover;
    border:.5rem solid #fff;
}

.review .box-container .box h3{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
}
.review .box-container .box .stars i{
    color:#788b83;
    font-size:1.5rem;
}
.review .box-container .box .text{
    color:var(--light-color);
    line-height: 1.8;
    font-size:1.6rem;
    padding-top: 4rem;
}
.review .box-container .box::before{
    /* content:'';
    position: absolute;
    top:-4rem; left:50%; */
    /* transform:translate(-0%); */
    background: var(--green);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width:120%;
    /* z-index: -1; */
}


/* services  */
.box img{
    width: 70px;
    height: 49px;
}

/* slider start */
.advtslide img{
   height: 100px;
   width: 100px;
}
/* slider end  */