@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&display=swap');

.cards {
    max-width: 1200px;
    
    margin-bottom: 100px;
    padding: 0 20px;
    width: 100%; 
    display: grid;
    justify-content: right;
    /* Define Auto Row size */
    grid-auto-rows: max-content; 
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-gap: 1.26rem;
    padding:2rem 9%;
}
.card {
    border-radius: 10px;
    /* border: 3px solid rgb(7, 190, 184); */
    padding: 20px;
    color: #000000;
    height: fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    margin: auto auto;
    box-shadow: inset rgb(180, 180, 180) -2px -2px 9px;
    font-family: 'Montserrat', sans-serif;
}
.card img
{
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin: 0px auto;
}
.card-name
{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 9px 9px;
}
.card-address
{
    font-size: 0.82rem;
    margin: 5px 9px;
}
.card-type
{
    font-size: 0.92rem;
    font-weight: 600;
    margin: 5px 9px;
    background-color: rgb(227, 150, 150);
    padding: 3px;
}
.card-fare
{
    font-size: 0.89rem;
    display:block;
    float: right;
    margin: 5px 9px;
    font-weight: 900;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 9px;
    color: red;
}
.card-status
{
    font-size: 1.01rem;
    font-weight: 800;
    margin: 5px 9px;
    /* background-color: rgb(227, 150, 150); */
}
.card button
{
    float:left;
}