.nav-container
{
    /* border: 2px solid red; */
    background-color: rgb(156, 234, 239);
    height: 50px;
    display: flex;
    padding: 7px;
    top: 1px;
}
.search-navbar
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7px;
}
.full-srch-bar
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid rebeccapurple; */
}
.search-bar
{
    width: 350px;
    height: 20px;
    padding: 7px;
    margin: 9px;
    border-radius: 7px;
    border: 1px solid rgb(189, 189, 189);
    font-family: 'Montserrat', sans-serif;
}