@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&display=swap');

*
{
    margin: 0px;
    padding: 0px;
}
.container
{
    /* border: 2px solid red; */
    height: 200vh;
}
.navbar
{
    /* border: 2px solid rgb(8, 0, 255); */
    background-color: rgb(7, 190, 184);
    display: flex;
    padding: 7px;
    position: sticky;
    top: 0px;
}
.navbar ul
{
    display: flex;
    list-style: none;
    /* border: 2px solid green; */
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 7px;
}
.navbar li a
{
    text-decoration: none;
    margin-left: 45px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}
.account-details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.account-avatar
{
    margin: 5px;
    margin-bottom: 7px;
}
.brand
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn
{
    width: max-content;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 3px;
    margin: 5px;
    border-radius: 7px;
    border-width: 0px;
    color: white;
}
.btn-danger
{
    background-color: rgb(220,53,69);
    padding: 7px;
}
.btn-primary
{
    background-color:rgb(17, 127, 236);
    font-size: 1.1rem;
    padding: 7px;
}
.btn-secondary
{
    background-color:rgb(183, 183, 183);
    color: black;
    font-size: 0.9rem;
    padding: 7px;
}