@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Poppins&display=swap');

.cards {
    max-width: 1200px;
    margin: 30px 90px;
    margin-bottom: 100px;
    padding: 0 20px;
    width: 100%; 
    display: grid;
    justify-content: right;
    /* Define Auto Row size */
    grid-auto-rows: max-content; 
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    grid-gap: 1.26rem;
}
.card {
    border-radius: 10px;
    /* border: 3px solid rgb(7, 190, 184); */
    padding: 20px;
    color: #000000;
    height: fit-content;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    margin: auto auto;
    box-shadow: inset rgb(180, 180, 180) -2px -2px 9px;
    font-family: 'Montserrat', sans-serif;
}
.card img
{
    width: 200px;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: white;
    border-radius: 10px;
    display: block;
    margin: 0px auto;
}
.card-name
{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 9px 9px;
    color: var(--black);
}
.card-address
{
    font-size: 1.1rem;
    margin: 5px 9px;
    color: var(--light-color);
}
.card-type-male
{
    float: left;
    color: #6fa8dc;
    font-size: 1.5rem;
    font-weight: 600;
    /* margin: 5px 9px; */
    padding: 3px;
}
.card-type-female
{
    float: left;
    color: #fba3c4;
    font-size: 1.5rem;
    font-weight: 600;
    /* margin: 5px 9px; */
    padding: 3px;
}
.card-fare
{
    font-size: 1.5rem;
    display:block;
    float: right;
    margin: 5px 9px;
    font-weight: 900;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 9px;
    color: red;
}
.card-status
{
    font-size: 1.01rem;
    font-weight: 800;
    margin: 5px 9px;
    /* background-color: rgb(227, 150, 150); */
}
.card button
{
    /* float:right; */
    /* margin-left: 60px; */
    background-color: var(--green);
    color: white;
    cursor: pointer;
    font-weight: bold;
    /* margin-top: 11px; */
    padding: 3px;
    border-radius: 7px;
    /* position: relative;
    top: 5px;
    left: 52px; */
}
.card #c1,#c2,#c3,#c4
{
    /* float:right; */
    /* margin-left: 60px; */
    background-color: var(--green);
    color: white;
    cursor: pointer;
    font-weight: bold;
    /* margin-top: 11px; */
    padding: 3px;
    border-radius: 7px;
    position: relative;
    top: 5px;
    left: 52px;
}
.card #c1:hover,#c2:hover,#c3:hover,#c4:hover{
    background-color:white ;
    color: var(--green);
}
.font,.call{
    float: left;
    padding-top: 8px;
    font-size: medium;
}
.call
{
    float: right;
    font-size: large;
    border-radius: 7px;
    font-weight: 800;
    margin: 5px;
    padding: 3px 6px 3px 7px;
    background-color: var(--green);
    color: white;
    cursor: pointer;

}