@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

.title
{
    text-align: center;
}
.user-greets
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.user-btn
{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.user-btn a
{
    margin-left: 7px;
}
.driver-container
{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: min-content;
    /* border: 1px solid red; */
}
.report-bar
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 12rem;
    width: 100%;
    justify-content: space-evenly;
    height: min-content;
}
.report-card
{
    display: flex;
    width: 25rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 7px;
    background-color:rgb(7, 124, 83);
    color: white;
    font-size: 1.3rem;
}
.no-rides img
{
    width: 80px;
    aspect-ratio: 3/2;
    object-fit: contain;
    background-color: transparent;
}
.alg-x-top
{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100vh;
    margin-top: 25rem;
}
.alg-cen-x
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
.alg-row
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.alg-col
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.alg-col button
{
    margin: 1.3rem;
}
.alg-col form
{
    display: flex;
}
.title
{
    font-size: 3.5rem;
    color: rgb(0, 73, 47);
}
.sub-h
{
    font-size: 2.7rem;
    color: rgb(255, 99, 99);
}
.cnfm-sub-h
{
    font-size: 2.7rem;
    color: rgb(0, 139, 42);
}
.inactive
{
    display: none;
}
.active
{
    display: flex;
}

table
{
    width: 100%;
}
table th,td
{
    border: 1px solid black;
    border-collapse: collapse;
    /* padding: 2rem; */
}

.otp-box
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border-top: 2px solid var(--green); */
    border-radius: 20px;
    /* padding: 1.5rem; */
    /* background-color: var(--green); */
    color: rgb(255, 255, 255);
}
.otp-box input
{
    /* margin-left: 1rem; */
    background-color: transparent;
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}
.otp-input
{
    border:2px solid var(--green);
    border-radius: 10px;
    flex-wrap: nowrap;

}
.otp-input h1
{
    background-color: var(--green);
    font-size: 1.8rem;
    padding: 0.5rem;
}
#amb-no
{
   font-size: 2rem;
   font-weight: bolder;
   border: 2px solid black;
   background-color: rgb(255, 183, 0);
   padding: 0.5rem;
   border-radius: 10px;
}
.status-active
{
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(52, 199, 52);
    border: 2px solid rgb(253, 253, 253);
    border-radius: 30px;
    padding: 1.0rem;
    color: rgb(0, 0, 0);
    margin-top: 7px;
    box-shadow: inset rgb(0, 45, 2) -2px -2px 7px;
}
.status-inactive
{
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(255, 107, 107);
    border: 2px solid rgb(253, 253, 253);
    border-radius: 30px;
    padding: 1.0rem;
    color: rgb(0, 0, 0);
    margin-top: 7px;
    box-shadow: inset rgb(45, 0, 0) -2px -2px 7px;
}
.time_disp
{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    /* border: 1px solid red; */
    background-color: rgb(113, 255, 212);
    border-radius: 10px;
    padding: 7px;
    margin: 7px;
}
.slide-bck-top {
	-webkit-animation: slide-bck-top 1.5s ease-in-out infinite both;
	        animation: slide-bck-top 1.5s ease-in-out infinite both;
}
.pay-btn
{
    font-size: 2.4rem;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-19 12:45:30
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bck-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bck-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(-400px) translateY(-200px);
              transform: translateZ(-400px) translateY(-200px);
    }
  }
  @keyframes slide-bck-top {
    0% {
      -webkit-transform: translateZ(0) translateY(0);
              transform: translateZ(0) translateY(0);
    }
    100% {
      -webkit-transform: translateZ(-400px) translateY(-200px);
              transform: translateZ(-400px) translateY(-200px);
              opacity: 0%;
    }
  }
  
