.location-window .popup
{
    border: 2px solid var(--green);
    border-radius: 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: none;
}
.location-window
{
    display: none;
    /* border: 2px solid green; */
    background-color: rgba(0, 0, 0, 0.32);
    flex-direction: column;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: 999;
    top: 0rem;
    margin-top: 0px;
}

.card .dismiss-btn
{
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.8rem;
    color: var(--black);
    border-radius: 0px;
    padding: 0.5rem;
}
.loc-head
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    color: var(--black);
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.loc-option-tab
{
    display: flex;
    margin: 2rem 2rem;
    margin-top: 0px;
    justify-content: right;
    padding: 2rem;
}
.loc-option-tab:nth-child(even)
{
    border-bottom: 1px solid #ccc;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.loc-option-tab input
{
    width: 15rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 2rem;
}
#location-txt
{
    color: red;
    font-weight: 600;
}

.disable-scroll
{
    overflow-y: hidden;
    overflow-x: hidden;
}